.po_items_ho {
    display: flex;
    justify-content: space-between; /* Spacing between items */
    /* gap: 20px; Adjust gap if needed */
  }
  

.po_item {
    flex: 1; /* Ensure items take equal space */
    /* display: inline-block; */
    width: 50%;
    text-align: center;
    margin: 0.5rem auto;
    position: relative;
    /* background: var(--secondary-color); */
    border: none;
    transition: 0.9s ease;
    /* font-size: 0; */
    /* min-height: 300px; */
}
.responsive-image {
  width: 100%;        /* Ensures the image takes up the width of its container */
  height: auto;       /* Maintains the aspect ratio */
  object-fit: cover;  /* Ensures the image covers the container without stretching */
}
.po_section {

  margin-bottom: 80px;
  /* font-size: 0; */
  /* min-height: 300px; */
}

.po_item img {
    width: 100%;
    height: 500px; 
    object-fit: cover; 
    cursor: zoom-in
}

.sampler-image {
  height: auto; /* Maintains aspect ratio */
  width: 100%;
  cursor: zoom-in;
  object-fit: cover; 
}

.po_item_med {
   
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 0.5rem auto;
    position: relative;
    /* background: var(--secondary-color); */
    border: none;
    transition: 0.9s ease;
    padding: 0.6rem;
    /* font-size: 0; */
    /* min-height: 300px; */
}

.po_item_med img {
    width: 100%;
    height: auto; 
    transition: all 0.5s ease-in-out;
    /* object-fit: cover; 
    cursor: zoom-in */
}

.po_item_big {
   
  /* display: inline-block; */
  width: 70%;

  margin: 0.5rem auto;
  position: relative;
  /* background: var(--secondary-color); */
  border: none;
  transition: 0.9s ease;
  padding: 0.6rem;
  /* font-size: 0; */
  /* min-height: 300px; */
}

.po_item_big img {
  width: 100%;
  height: auto; 
  /* transition: all 0.5s ease-in-out; */
  /* object-fit: cover; 
  cursor: zoom-in */
}

.po_item_row {
    position: relative;
  }


.po_item_row img {
    width: 100%; /* Full width of the container */
    height: 270px; /* Automatically adjust height to maintain aspect ratio */
    max-height: 900px; /* Set a maximum height for the image */
    object-fit: cover; /*Ensure the image covers the area without distortion*/
    transition: transform 2s ease;
    cursor: zoom-in
}

.po_item .content {
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--overlay-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    opacity: 0;
    border: none;
}

.po_item .content {
    /* opacity: 0;
    transition-delay: 1s;
    transition: 0.3s ease;
    font-size: 20px; */
    
    position: absolute;
    top: 0;
    right: -100%; /* Initially hidden to the right */
    width: 50%; /* Set width for the content */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff;
    padding: 1rem;
    transition: right 0.5s ease; /* Smooth transition for text appearing */
    z-index: 2;
}

.po_item:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}
.image-row {
  display: flex;
  align-items: center;
  position: relative;
}
.slide-button {
  position: relative;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 20px; /* Space between button and images */
  transition: background-color 0.3s ease;
}

.slide-button:hover {
  background-color: white;
  color: black;
}

.image-wrapper {
  display: flex;
  gap: 10px;
  flex-grow: 1; /* Ensure it takes up available space */
  justify-content: space-between;
  margin-bottom: 20px;
}
/* .po_item_row img:hover {
    transform: scale(1.6); 
    z-index: 2; 
  } */
  /* .po_item:hover img {
    transform: translateX(-70%); 
} */

/* .po_item:hover .content {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    opacity: 1;
} */

/* .po_item:hover .content {
    opacity: 1;
    color: var(--secondary-color);
} */

.po_item .content a {
    background: var(--bg-color);
    border: none;
    padding: 4px 8px;
    text-align: center;
    font-size: 1rem;
}

.po_item .content a:hover {
    text-decoration: none;
}
.full-width-img {
    width: 100%;  /* Full width of the container */
    height: auto; /* Adjust height automatically */
    position: relative; /* Needed for z-index positioning */
    object-fit: "cover";
    object-position: "center";
  }

  .invert-image {
    filter: invert(1);
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .full-screen-img {
    max-width: 60%;
    max-height: 60%;
  }
  
  .close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  .text-box {
    position: "absolute";
    width: 400px; /* Set a fixed width for the text box */
    padding: 0px; /* Add some padding */
    background-color: #000000; /* Background color for the box */
    text-align: left; /* Align text to the left */
    /* z-index: 1;  */
  }
  
  .text-container {
    margin-top: 10px; /* Space above the text section */
    margin-bottom: 50px; /* Space above the text section */
    display: flex; /* Use flexbox for alignment */
    justify-content: flex-start; /* Align to the right */
    position: relative; /* Needed for z-index positioning */
  }

  .download-button {
    padding: 5px 10px; /* Adjusted padding for smaller size */
    background-color: black; /* Black background */
    color: white; /* White text */
    border: 2px solid white; /* White border */
    border-radius: 15px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-weight: bold; /* Bold text */
    margin-top: 10px; /* Space above the button */
    display: inline-block; /* Keep it inline */
    text-align: center; /* Center text */
    font-size: 12px; /* Smaller font size */
  }